:root {
    --analyser-loading-progress: 0;
}

.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    margin-top: 92.5px;
    width: min(calc(100vw - 40px), 1778px);
    
    display: flex;
    justify-content: space-between;
}

.item-dashboard {
    width: 49.25%;
    height: 837.5px;
    background-color: #282929;

    overflow: auto;

    border-radius: 20px;
}

.item-dashboard-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.deactivated-create-button {
    user-select: none;
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px 16px;
    background-color: color-mix(in srgb, azure 65%, black);
    width: 77.5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 15px;
    font-weight: 550;
    color: color-mix(in srgb, #1d1e1e 55%, black);

    border-radius: 100px;
    border: 2px solid color-mix(in srgb, #3399ff 65%, black);

    transition: all 0.15s ease;
}

.create-button {
    user-select: none;
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px 16px;
    background-color:azure;
    width: 77.5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 15px;
    font-weight: 550;
    color:#1d1e1e;

    border-radius: 100px;
    border: 2px solid #3399ff;

    cursor: pointer;

    transition: all 0.15s ease;
}

.create-button:hover {
    background-color: color-mix(in srgb, azure 65%, black);
}

.create-button:active {
    transform: scale(0.93);
    background-color: color-mix(in srgb, azure 75%, black);
}

.create-button-plus {
    height: 12.5px;
}

.title-textbox {
    font-family: Poppins, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    width: calc(100% - 100px);
    height: 40px;
    background-color: #1d1e1e;
    font-size: 16px;
    font-weight: 425;

    padding-left: 25px;
    padding-right: 25px;

    caret-color: azure;
    color: azure;
    outline: none;

    border-radius: 100px;
    border: none;
}

.title-textbox::placeholder {
    color: #757575;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 25px;

    column-gap: 12.5px;
}

.item-column {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    row-gap: 10px;
}

.item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: left;

    border-radius: 10px;
    border: 1px solid #474848;
}

.item-image-box {
    width: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-image {
    width: 25px;
}

.item-right {
    width: 100%;
    padding-right: 6px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.item-title {
    padding-top: 4px;
    font-size: 15px;
}

.item-text {
    padding-bottom: 5px;
    font-size: 10px;
    
}

.image-dashboard {
    height: 837.5px;
    width: 49.25%;
    background-color: #4d525d;
    
    display: flex;
    justify-content: center;
    overflow: auto;
    
    border-radius: 20px;
}

.image {
    width: 90%;
    margin-top: 5%;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
}

.loading-container {
    flex: 1;
    height: 12px;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 24px;
    background-color: azure;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.loading-bar {
    width: calc(var(--analyser-loading-progress) * 1%);
    height: 100%;
    background: linear-gradient(90deg, azure, #3399ff);
    transition: all 1s linear;
}

@media (max-width: 950px) {
    .dashboard {
        flex-direction: column;
    }
    .item-dashboard {
        width: auto;
    }
    .image-dashboard {
        width: auto;
        margin-top: 20px;
    }
}