.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    margin-top: 92.5px;
    width: min(calc(100vw - 40px), 1778px);
    
    display: flex;
    justify-content: space-between;
}

.back-button {
    width: 128px;
    height: 45px;
    border-radius: 100px;
    background-color: #282929;
    color: azure;

    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    cursor: pointer;
    transition: all ease 0.2s;
}

.back-button:hover {
    background-color: #121212;
}

.back-button:active {
    transform: scale(0.93);
}

.back-button-arrow {
    width: 31px;
    height: 31px;
    margin-left: 7px;
    border-radius: 100px;
    background-color: #24ba26;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button-arrow-image {
    transform: rotateY(180deg);
    width: 13px;
}

.back-button-text {
    font-size: 0.95rem;
    font-weight: 550;
    margin-right: 17px;
}

.dashboard-left-section {
    width: 49.25%;
    height: 837.5px;
    display: flex;
    flex-direction: column;
}

.item-dashboard {
    width: 100%;
    height: 812.5px;
    margin-top: 25px;
    background-color: #282929;

    overflow: auto;

    border-radius: 20px;
}

.item-dashboard-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
}

.gray-complete-button {
    user-select: none;
    margin-right: 17px;
    margin-top: 17px;
    padding: 10px 16px;
    background-color: #8a8a8a;
    color: #464646;
    height: 17px;
    width: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-weight: 550;

    border-radius: 100px;
    border: 1px solid #8a8a8a;
    pointer-events: none;

    transition: all 0.15s ease;
}

.complete-button {
    user-select: none;
    margin-right: 17px;
    margin-top: 17px;
    padding: 10px 16px;
    background-color: #24ba26;
    height: 17px;
    width: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-weight: 550;
    color:#1d1e1e;

    border-radius: 100px;
    border: 1px solid #24ba26;

    cursor: pointer;

    transition: all 0.15s ease;
}

.complete-button:hover {
    background-color: color-mix(in srgb, #24ba26 65%, black);
}

.complete-button:active {
    transform: scale(0.93);
    background-color: color-mix(in srgb, #24ba26 75%, black);
}

.complete-button-plus {
    height: 12.5px;
}

.set-title {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 425;

    color: azure;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 25px;

    column-gap: 12.5px;
}

.item-column {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    row-gap: 10px;
}

.item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: left;

    border-radius: 10px;
    border: 1px solid #474848;
}

.item-button-box {
    width: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-button {
    width: 40px;
    height: 40px;
    border-radius: 1000px;

    background-color: #416d97;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border: 1px solid azure;
    transition: all ease 0.2s
}

.item-button:hover {
    background-color: #2a4762
}

.item-button:active {
    background-color: #345779;
}

.item-button-image {
    width: 20px;
    user-select: none;
}

.item-right {
    width: 100%;
    padding-right: 6px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.item-title {
    padding-top: 4px;
    font-size: 15px;
}

.item-text {
    padding-bottom: 5px;
    font-size: 10px;
    
}

.image-dashboard {
    height: 837.5px;
    width: 48.2%;
    background-color: #4d525d;
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    
    border-radius: 20px;
}

.image {
    width: 90%;
    margin-top: 5%;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
}

@media (max-width: 950px) {
    .dashboard {
        flex-direction: column;
    }
    .dashboard-left-section {
        width: auto;
    }
    .image-dashboard {
        width: auto;
        margin-top: 20px;
    }
}